<div class="form-body">
  <div class="form-holder">
    <div class="form-content">
      <div class="form-items">
        <h3> Données recueillues: </h3>
        <p>Nom : {{lastname}}</p>
        <p>Prénom : {{firstname}}</p>
        <p>Cp : {{zipCode}}</p>
        <p>Tel : {{tel}}</p>
        <p>Email : {{email}}</p>
        <p>Sexe : {{gender}}</p>
        <p>Login : {{login}}</p>
        <p>Password : {{password}}</p>
        <p>Password du verification : {{passwordCheck}}</p>
        <button (click)="Close()">Fermer</button>

      </div>
    </div>
  </div>
</div>